html {
  background-color: #ffd2e6;
}

body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

h1 {
  font-family: "Press Start 2P", serif;
}

.app-container {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locked-page {
  text-align: center;
  margin-top: 50px;
}

.text-field {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #000; 
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.text-field:focus {
  border-color: #ff83dc;
}

.submit-button {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #ffade8;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff83dc;
  border-color: #ff83dc; 
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

/* Inbox.css */
.inbox-container {
  margin-top: 30px;
  padding: 16px;
  background-color: #ffd2e6;
}

.email-box {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.email-emoji {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  text-size-adjust: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.email-text {
  flex: 1;
}

